
body {
  background-image: url(../images/ignasi_pattern_s.png)
}

/*relative positioning of the Portfolio image titles*/

.portfolio-image-text {
  position: relative;
  bottom: 60px;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio-image {
  width: 200px;
  height: 200px;
}

/* css for the sticky footer starts here */

.footer {
	text-align: center;
    color: #cccccc;
    position: relative;
    top: 20px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.site-footer {
  background: grey;
  border-top: 5px solid #4aaaa5;
}